// This config is in the KDL format: https://kdl.dev
// https://niri-wm.github.io/niri/Configuration:-Introduction
// nix run github:srinivasr/nirimod

spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-sh-at-startup "NOCTALIA_CONFIG_DIR=~/.config/noctalia-v4/ noctalia-shell -d
	&& quickshell -c my-panels -dn"
// spawn-sh-at-startup "noctalia"
// spawn-sh-at-startup "quickshell -n -d -c lang-panel"
// spawn-sh-at-startup "quickshell -n -d -c workspaces-panel"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"
// screenshot-path "/tmp/niri-screenshot.png"

environment {

}
clipboard {
	disable-primary
}
hotkey-overlay {
	skip-at-startup
}
cursor {
	xcursor-theme "Banana"
	// xcursor-theme "Elastic"
	// xcursor-theme "ColorRing Cursors Light Regular"
	// xcursor-theme "ColorRing Cursors Dark Regular"
	// xcursor-theme "AnellsCoure"
	xcursor-size 60
	hide-when-typing
	// hide-after-inactive-ms 1000
}

include "input.kdl"
include "layout.kdl"
include "recent-windows.kdl"
include "window-rule.kdl"
include "animations.kdl"
include "binds.kdl"

// https://niri-wm.github.io/niri/Configuration:-Outputs
// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
output "eDP-1" {
	// off
	mode "1920x1080@60.020"
	scale 1
	// normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
	transform "normal"
	position x=0 y=0
}
output "HDMI-A-1" {
	mode "1920x1080@60.000"
	scale 1
	transform "normal"
	position x=1920 y=0
}

gestures {
	hot-corners {
		// top-left
		// top-right
		bottom-left
		bottom-right
	}
}

overview {
	zoom 0.5
	backdrop-color "#000000"
	workspace-shadow {
		// off
		softness 0
		spread 2
		offset x=0 y=0
		color "#ccccccf0"
	}
}
